/* common style */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}
.primary-btn {
  padding: 20px 43px;
  border-radius: 8px;
  background: #e55473;
  border: none;

  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

#primary-color {
  color: #e55473;
}

.common-section {
  margin-left: 240px;
  margin-right: 240px;
  margin-top: 128px;
}

/* banner section  style*/
.banner-container {
  display: flex;
  gap: 97px;
  align-items: center;
  padding: 50px 240px 0px 240px;
}

.banner-section {
  background-color: #e554731a;
}
.banner-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  margin-bottom: 32px;
}
.banner-desc {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 634px;
  margin-bottom: 32px;
}

.banner-img {
  width: 635px;
  height: 800px;
}

/* Hot deal section style */
.hot-deal-section {
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  margin-top: 128px;
}
.hot-deal-container {
  display: flex;
  gap: 186px;
  align-items: center;
  padding: 100px 429px 100px 395px;
}
.hot-deal-info {
  text-align: center;
}
.hot-deal-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}
.hot-deal-desc {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;

  width: 594px;
  margin-bottom: 32px;
}
.hot-deal-img {
  width: 318px;
  height: 420px;
}

/* instagram section style */
.insta-info {
  text-align: center;
}
.insta-section-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.insta-section-desc {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 594px;
  margin: auto;
  margin-top: 24px;
}
.insta-card-container {
  display: flex;
  gap: 25px;
  margin-top: 48px;
}
.insta-card-img {
  width: 342px;
  height: 396px;
}
