/* common style */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}
.primary-btn {
  padding: 20px 43px;
  border-radius: 8px;
  background: #e55473;
  border: none;

  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

/* banner section  style*/
.banner-container {
  display: flex;
  gap: 97px;
  align-items: center;
  padding: 50px 240px 0px 240px;
}

.banner-section {
  background-color: #e554731a;
}
.banner-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  margin-bottom: 32px;
}
.banner-desc {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 634px;
  margin-bottom: 32px;
}

.banner-img {
  width: 635px;
  height: 800px;
}
